
.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;

    .item-content {
        display: flex;
        justify-content: flex-end;
        flex-wrap: nowrap;

        span {
            margin-right: 20px;
        }
    }
}